////
/// ----------------------------------------------------------------------------------------
/// Index view styles
/// ----------------------------------------------------------------------------------------
/// @TODO - update template name and description
/// @description - Index view layout and styling
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small) {
    .index {

        /// @TODO: remove these styles after you have walked the project configuration steps
        .congratulations-it-works {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: bold;
            }

            .sprite-works-on-my-machine {
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                height: 320px;
                margin: 0 auto;
                width: 320px;
            }

            .label {
                padding: .5rem 1rem .5rem 2rem;
                position: relative;
                font-size: 1rem;
            }

            svg path {
                fill: $white;
            }

            .svg {
                height: 1.5rem;
                width: 1.5rem;
                position: absolute;
                left: .25rem;
                top: .375rem;
            }

            .tabs {
                background-color: $black;
                border-bottom: 0 none;
            }

            .tabs-title > a[aria-selected='true']  {
                color: $black;
            }

            .tabs-title > a:focus,
            .tabs-title > a[aria-selected='true'] {
                background-color: $white;
            }

            .tabs-title > a:hover {
                background-color: $light-gray;
            }

            .tabs-title {
                font-weight: bold;
            }

            .title-bar {
                margin-bottom: 2rem;
            }

            .tabs-panel {
                padding: 1.5rem 1.375rem 1rem;
            }

            .title-important {
                margin: 0 0 .5rem;
            }

            .title-config {
                margin: 2rem 0 .5rem;
            }

            .directory-tree {
                font-size: .75rem;
            }

            .code-reference {
                display: block;
                margin: 0 1rem 1.25rem 0;
                font-family: Consolas, "Liberation Mono", Courier, monospace;
                font-weight: normal;
                color: #0a0a0a;
                background-color: #efefef;
                border: 1px solid #cacaca;
                padding: 1rem;

                &.tree {
                    margin: 0 0 .25rem 0;
                    padding: 1rem 1rem 0;
                }
            }

            .tabs-content {
                margin: 0 0 2rem;
            }

            .list .item {
                margin: 1rem 0;
            }

            .bold {
                font-weight: bold;
            }
        }
    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small only) {
    .index {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .index {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium only) {
    .index {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .index {

    }
}
/// End of Large Up
