////
/// ----------------------------------------------------------------------------------------
/// Kitchen Sink Styles
/// ----------------------------------------------------------------------------------------
/// @author - Alden Brown
/// @description - This is sample view including of all the foundation components
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////


@include breakpoint(small) {
    .kitchen-sink {
        padding: 48px 0 0;
        height: 100%;
        width: 100%;

        &.toggle-grid {
            background-position: 0 -6px;
            background-image: repeating-linear-gradient(to top, transparent 0px, transparent 23px, red 23px, red 24px);

            .off-canvas-content > .row {
                height: 100%;
                border-left: 1px solid blue;
                border-right: 1px solid blue;
                padding: 0;
            }
        }

        .navigation {
            background-color: black;
            position: fixed;
            top: 0;
            left: 0;
            height: 48px;
            padding: rem-calc(12 0);
            z-index: 2;
            width: 100%;
            color: $white;
            font-size: 1rem;
        }

        .hamburger,
        .off-canvas.position-left .link {
            transition: background-color 0.25s ease-out;
        }

        .hamburger {
            @include hamburger($white, $primary-color, 20px, 16px, 2px, 3);
        }

        .toggle-page-grid {
            display: inline-block;
            margin-left: 1.5rem;
        }

        .off-canvas-content {
            background-color: transparent;
        }

        .off-canvas.position-left {
            margin: 1rem 0 0;
            padding: 1rem;
            font-size: .75rem;
        }

        .off-canvas.position-left .title {
            padding: 0 1rem 1rem;
            border-bottom: 1px solid $white;
        }

        .off-canvas.position-left .vertical.menu {
            background-color: $white-smoke;
        }

        .off-canvas.position-left .link {
            border-bottom: 1px solid $white;
        }

        .off-canvas.position-left .link:hover {
            background-color: $primary-color;
            color: $white;
        }

        .bad-ass {
            max-height: 654px;
            width: 100%;
        }

        .footer {
            background-color: $primary-color;
            color: $white;
        }
    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small only) {
    .kitchen-sink {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .kitchen-sink {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium only) {
    .kitchen-sink {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .kitchen-sink {

    }
}
/// End of Large Up
