////
/// ----------------------------------------------------------------------------------------
/// A SCSS Template with foundation's media queries
/// ----------------------------------------------------------------------------------------
/// @TODO - update template name and description
/// @author - Modop
/// @description - What is the purpose of this file? This purpose of this file is to keep
/// consistent format for all SASS/SCSS files used through out our stack
/// @convention - Please follow these SASS/SCSS coding conventions > https://goo.gl/mUa746
/// @documentation - Please follow these documentation guidelines > http://sassdoc.com
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small) {
    .foo {

    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small only) {
    .foo {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .foo {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium only) {
    .foo {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .foo {

    }
}
/// End of Large Up
