<header class="header">
</header>
<div id="main-content"></div>
<div data-marionette-region="main-content"></div>
<footer class="footer">
</footer>
<div id="fb-root"></div>
<!--<script>-->
    <!--(function (d, s, id) {-->
        <!--var js, fjs = d.getElementsByTagName(s)[0];-->
        <!--if (d.getElementById(id)) {-->
            <!--return;-->
        <!--}-->
        <!--js = d.createElement(s);-->
        <!--js.id = id;-->
        <!--js.src = "//connect.facebook.net/en_US/sdk.js";-->
        <!--fjs.parentNode.insertBefore(js, fjs);-->
    <!--}(document, 'script', 'facebook-jssdk'));-->
<!--</script>-->
<!--<script>-->
    <!--!function (d, s, id) {-->
        <!--var js, fjs = d.getElementsByTagName(s)[0],-->
                <!--p = /^http:/.test(d.location) ? 'http' : 'https';-->
        <!--if (!d.getElementById(id)) {-->
            <!--js = d.createElement(s);-->
            <!--js.id = id;-->
            <!--js.src = p + '://platform.twitter.com/widgets.js';-->
            <!--fjs.parentNode.insertBefore(js, fjs);-->
        <!--}-->
    <!--}(document, 'script', 'twitter-wjs');-->
<!--</script>&lt;!&ndash; Google Analytics: change UA-XXXXX-X to be your site's ID. &ndash;&gt;-->
<!--<script>-->
    <!--(function (b, o, i, l, e, r) {-->
        <!--b.GoogleAnalyticsObject = l;-->
        <!--b[l] || (b[l] =-->
                <!--function () {-->
                    <!--(b[l].q = b[l].q || []).push(arguments)-->
                <!--});-->
        <!--b[l].l = +new Date;-->
        <!--e = o.createElement(i);-->
        <!--r = o.getElementsByTagName(i)[0];-->
        <!--e.src = '//www.google-analytics.com/analytics.js';-->
        <!--r.parentNode.insertBefore(e, r)-->
    <!--}(window, document, 'script', 'ga'));-->
    <!--ga('create', 'UA-XXXXX-X');-->
    <!--ga('send', 'pageview');-->
<!--</script>-->
