////
/// ----------------------------------------------------------------------------------------
/// Web font declaration and references
/// ----------------------------------------------------------------------------------------
/// @author - Modop Developer Bad Ass #1
/// @description - Fonts should be declared here the actual fonts files
/// should reside in the project-root/app/assets/fonts directory
/// ----------------------------------------------------------------------------------------
/// @example reference
///
/// @font-face {
///    font-family: 'slick';
///    font-weight: normal;
///    font-style: normal;
///    src: url('../assets/fonts/font-name.eot');
///    src: url('../assets/fonts/font-name.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/font-name.woff') format('woff'), url('../assets/fonts/font-name.ttf') format('truetype'), url('../assets/fonts/font-name.svg#slick') format('svg');
//}
///
////
