<nav class="navigation">
    <div class="off-canvas-button">
        <div class="expanded row">
            <div class="columns small-2">
                <div class="hamburger float-left" data-toggle="offCanvasLeft"></div>
            </div>
            <div class="columns small-10 text-right">
                <small>THE MODOP BACKBONE BOILERPLATE</small>
            </div>
        </div>
    </div>
</nav>
<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
        <div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas>
            <h5 class="title">The Kitchen Sink</h5>
            <ul class="vertical menu" data-docs-toc="" data-resize data-scroll id data-magellan data-events="resize">
                <li>
                    <a href="#abide" class="link" data-toggle="offCanvasLeft">Abide</a>
                </li>
                <li>
                    <a href="#accordion" class="link" data-toggle="offCanvasLeft">Accordion</a>
                </li>
                <li>
                    <a href="#accordion-menu" class="link" data-toggle="offCanvasLeft">Accordion Menu</a>
                </li>
                <li>
                    <a href="#badge" class="link" data-toggle="offCanvasLeft">Badge</a>
                </li>
                <li>
                    <a href="#breadcrumbs" class="link" data-toggle="offCanvasLeft">Breadcrumbs</a>
                </li>
                <li>
                    <a href="#button" class="link" data-toggle="offCanvasLeft">Button</a>
                </li>
                <li>
                    <a href="#callout" class="link" data-toggle="offCanvasLeft">Callout</a>
                </li>
                <li>
                    <a href="#close-button" class="link" data-toggle="offCanvasLeft">Close Button</a>
                </li>
                <li>
                    <a href="#drilldown-menu" class="link" data-toggle="offCanvasLeft">Drilldown Menu</a>
                </li>
                <li>
                    <a href="#dropdown-menu" class="link" data-toggle="offCanvasLeft">Dropdown Menu</a>
                </li>
                <li>
                    <a href="#dropdown-pane" class="link" data-toggle="offCanvasLeft">Dropdown Pane</a>
                </li>
                <li>
                    <a href="#equalizer" class="link" data-toggle="offCanvasLeft">Equalizer</a>
                </li>
                <li>
                    <a href="#flex-grid" class="link" data-toggle="offCanvasLeft">Flex Grid</a>
                </li>
                <li>
                    <a href="#flex-video" class="link" data-toggle="offCanvasLeft">Flex Video</a>
                </li>
                <li>
                    <a href="#float-classes" class="link" data-toggle="offCanvasLeft">Float Classes</a>
                </li>
                <li>
                    <a href="#forms" class="link" data-toggle="offCanvasLeft">Forms</a>
                </li>
                <li>
                    <a href="#grid" class="link" data-toggle="offCanvasLeft">Grid</a>
                </li>
                <li>
                    <a href="#interchange" class="link" data-toggle="offCanvasLeft">Interchange</a>
                </li>
                <li>
                    <a href="#label" class="link" data-toggle="offCanvasLeft">Label</a>
                </li>
                <li>
                    <a href="#magellan" class="link" data-toggle="offCanvasLeft">Magellan</a>
                </li>
                <li>
                    <a href="#media-object" class="link" data-toggle="offCanvasLeft">Media Object</a>
                </li>
                <li>
                    <a href="#menu" class="link" data-toggle="offCanvasLeft">Menu</a>
                </li>
                <li>
                    <a href="#off-canvas" class="link" data-toggle="offCanvasLeft">Off-canvas</a>
                </li>
                <li>
                    <a href="#orbit" class="link" data-toggle="offCanvasLeft">Orbit</a>
                </li>
                <li>
                    <a href="#pagination" class="link" data-toggle="offCanvasLeft">Pagination</a>
                </li>
                <li>
                    <a href="#progress-bar" class="link" data-toggle="offCanvasLeft">Progress Bar</a>
                </li>
                <li>
                    <a href="#responsive-menu" class="link" data-toggle="offCanvasLeft">Responsive Menu</a>
                </li>
                <li>
                    <a href="#responsive-toggle" class="link" data-toggle="offCanvasLeft">Responsive Toggle</a>
                </li>
                <li>
                    <a href="#reveal" class="link" data-toggle="offCanvasLeft">Reveal</a>
                </li>
                <li>
                    <a href="#slider" class="link" data-toggle="offCanvasLeft">Slider</a>
                </li>
                <li>
                    <a href="#sticky" class="link" data-toggle="offCanvasLeft">Sticky</a>
                </li>
                <li>
                    <a href="#switch" class="link" data-toggle="offCanvasLeft">Switch</a>
                </li>
                <li>
                    <a href="#table" class="link" data-toggle="offCanvasLeft">Table</a>
                </li>
                <li>
                    <a href="#tabs" class="link" data-toggle="offCanvasLeft">Tabs</a>
                </li>
                <li>
                    <a href="#thumbnail" class="link" data-toggle="offCanvasLeft">Thumbnail</a>
                </li>
                <li>
                    <a href="#title-bar" class="link" data-toggle="offCanvasLeft">Title Bar</a>
                </li>
                <li>
                    <a href="#toggler" class="link" data-toggle="offCanvasLeft">Toggler</a>
                </li>
                <li>
                    <a href="#tooltip" class="link" data-toggle="offCanvasLeft">Tooltip</a>
                </li>
                <li>
                    <a href="#top-bar" class="link" data-toggle="offCanvasLeft">Top Bar</a>
                </li>
                <li>
                    <a href="#visibility-classes" class="link" data-toggle="offCanvasLeft">Visibility Classes</a>
                </li>
            </ul>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <div class="row">
                <div class="small-12 columns">
                    <h1>MARIONETTE, ES6 MODULES &amp; FOUNDATION</h1>
                    <p>
                        It is
                        <del>sort of</del>
                        <ins>super</ins>
                        <del>rad</del>
                        <ins>bad ass!</ins>
                        Like Bruce Lee movies...
                    </p>
                    <img src="assets/images/sample-images/bruce-Lee.jpg" alt="bad ass" class="bad-ass"/>
                    <h3 id="type">Type</h3>
                    <p>
                        Paragraph tag - Be like water making its way through cracks. Do not be assertive, but adjust to the object, and you shall find a way around or through it. If nothing within you stays rigid, outward things will disclose themselves. Empty your mind, be formless. Shapeless, like water. If you put water into a cup, it becomes the cup. You put water into a bottle and it becomes the bottle. You put it in a teapot, it becomes the teapot. Now, water can flow or it can crash. Be water, my friend.
                    </p>
                    <p>
                        Notice that the stiffest tree is most easily cracked, while the bamboo or willow survives by bending with the wind. I fear not the man who has practiced 10,000 kicks once, but I fear the man who has practiced one kick 10,000 times. The doubters said, "Man can not fly," The doers said, "Maybe, but we’ll try," And finally soared In the morning glow While non-believers Watched from below.
                    </p>
                    <h1>h1 tag - This is a very large header.</h1>
                    <h2>h2 tag - This is a large header.</h2>
                    <h3>h3 tag - This is a medium header.</h3>
                    <h4>h4 tag - This is a moderate header.</h4>
                    <h5>h5 tag - This is a small header.</h5>
                    <h6>h6 tag - This is a tiny header.</h6>
                    <h1 class="subheader">h1 tag - subheader</h1>
                    <h2 class="subheader">h2 tag - subheader</h2>
                    <h3 class="subheader">h3 tag - subheader</h3>
                    <h4 class="subheader">h4 tag - subheader</h4>
                    <h5 class="subheader">h5 tag - subheader</h5>
                    <h6 class="subheader">h6 tag - subheader</h6>
                    <h3>Definition List</h3>
                    <h5>Definition lists are great for small block of copy that describe the header</h5>
                    <dl>
                        <dt>dt tag - Lower cost</dt>
                        <dd>dd tag - The new version of this product costs significantly less than the previous one!</dd>
                        <dt>dt tag - Easier to use</dt>
                        <dd>dd tag - We&#39;ve changed the product so that it&#39;s much easier to use!</dd>
                        <dt>dt tag - Safe for kids</dt>
                        <dd>dd tag - You can leave your kids alone in a room with this product and they won&#39;t get hurt (not a guarantee).</dd>
                    </dl>
                    <h5>Un-ordered lists are great for making quick outlines bulleted.</h5>
                    <ul class="disc">
                        <li>li tag - List item with a much longer description or more content.</li>
                        <li>li tag - List item</li>
                        <li>li tag - List item
                            <ul>
                                <li>li tag - Nested List Item</li>
                                <li>li tag - Nested List Item</li>
                                <li>li tag - Nested List Item</li>
                            </ul>
                        </li>
                        <li>li tag - List item</li>
                        <li>li tag - List item</li>
                        <li>li tag - List item</li>
                    </ul>
                    <h5>Ordered lists are great for lists that need order, duh.</h5>
                    <ol>
                        <li>li tag - List Item 1</li>
                        <li>li tag - List Item 2</li>
                        <li>li tag - List Item 3</li>
                    </ol>
                    <br>
                    <h5>Blockquote</h5>
                    <blockquote>blockquote tage - I do not fear computers. I fear the lack of them. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. <cite>Isaac Asimov</cite>
                    </blockquote>
                    <h2 id="abide" class="docs-heading" data-magellan-target="abide">Abide<a class="docs-heading-icon" href="#abide"></a></h2>
                    <form data-abide novalidate>
                        <div data-abide-error class="alert callout" style="display: none;">
                            <p><i class="fi-alert"></i> There are some errors in your form.</p>
                        </div>
                        <div class="row">
                            <div class="small-12 columns">
                                <label>Number Required
                                    <input type="text" placeholder="1234" aria-describedby="exampleHelpText" required pattern="number">
                                <span class="form-error">
                                  Yo, you had better fill this out, it's required.
                                </span>
                                </label>
                                <p class="help-text" id="exampleHelpText">Here's how you use this input field!</p>
                            </div>
                            <div class="small-12 columns">
                                <label>Nothing Required!
                                    <input type="text" placeholder="Use me, or don't" aria-describedby="exampleHelpTex" data-abide-ignore>
                                </label>
                                <p class="help-text" id="exampleHelpTex">This input is ignored by Abide using `data-abide-ignore`</p>
                            </div>
                            <div class="small-12 columns">
                                <label>Password Required
                                    <input type="password" id="password" placeholder="yeti4preZ" aria-describedby="exampleHelpText" required >
                                    <span class="form-error">
                                      I'm required!
                                    </span>
                                </label>
                                <p class="help-text" id="exampleHelpText">Enter a password please.</p>
                            </div>
                            <div class="small-12 columns">
                                <label>Re-enter Password
                                    <input type="password" placeholder="yeti4preZ" aria-describedby="exampleHelpText2" required pattern="alpha_numeric" data-equalto="password">
                                    <span class="form-error">
                                      Hey, passwords are supposed to match!
                                    </span>
                                </label>
                                <p class="help-text" id="exampleHelpText2">This field is using the `data-equalto="password"` attribute, causing it to match the password field above.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="medium-6 columns">
                                <label>URL Pattern, not required, but throws error if it doesn't match the Regular Expression for a valid URL.
                                    <input type="text" placeholder="http://foundation.zurb.com" pattern="url">
                                </label>
                            </div>
                            <div class="medium-6 columns">
                                <label>European Cars, Choose One, it can't be the blank option.
                                    <select id="select" required>
                                        <option value=""></option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <fieldset class="large-6 columns">
                                <legend>Choose Your Favorite, and this is required, so you have to pick one.</legend>
                                <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
                                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue" required><label for="pokemonBlue">Blue</label>
                                <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Yellow</label>
                            </fieldset>
                            <fieldset class="large-6 columns">
                                <legend>Choose Your Favorite - not required, you can leave this one blank.</legend>
                                <input type="radio" name="pockets" value="Red" id="pocketsRed"><label for="pocketsRed">Red</label>
                                <input type="radio" name="pockets" value="Blue" id="pocketsBlue"><label for="pocketsBlue">Blue</label>
                                <input type="radio" name="pockets" value="Yellow" id="pocketsYellow"><label for="pocketsYellow">Yellow</label>
                            </fieldset>
                            <fieldset class="large-6 columns">
                                <legend>Check these out</legend>
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                                <input id="checkbox2" type="checkbox" required><label for="checkbox2">Checkbox 2</label>
                                <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
                            </fieldset>
                        </div>
                        <div class="row">
                            <fieldset class="large-6 columns">
                                <button class="button" type="submit" value="Submit">Submit</button>
                            </fieldset>
                            <fieldset class="large-6 columns">
                                <button class="button" type="reset" value="Reset">Reset</button>
                            </fieldset>
                        </div>
                    </form>
                    <h2 id="accordion" class="docs-heading" data-magellan-target="accordion">Accordion<a class="docs-heading-icon" href="#accordion"></a></h2>
                    <ul class="accordion" data-accordion role="tablist">
                        <li class="accordion-item is-active">
                            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
                            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Accordion 1</a>
                            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
                            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                Panel 1. Lorem ipsum dolor
                            </div>
                        </li>
                        <li class="accordion-item">
                            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
                            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Accordion 1</a>
                            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
                            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                Panel 2. Lorem ipsum dolor
                            </div>
                        </li>
                        <li class="accordion-item">
                            <!-- The tab title needs role="tab", an href, a unique ID, and aria-controls. -->
                            <a href="#panel1d" role="tab" class="accordion-title" id="panel1d-heading" aria-controls="panel1d">Accordion 1</a>
                            <!-- The content pane needs an ID that matches the above href, role="tabpanel", data-tab-content, and aria-labelledby. -->
                            <div id="panel1d" class="accordion-content" role="tabpanel" data-tab-content aria-labelledby="panel1d-heading">
                                Panel 3. Lorem ipsum dolor
                            </div>
                        </li>
                    </ul>
                    <h2 id="accordion-menu" class="docs-heading" data-magellan-target="accordion-menu">Accordion Menu<a class="docs-heading-icon" href="#accordion-menu"></a></h2>
                    <ul class="vertical menu" data-accordion-menu>
                        <li>
                            <a href="#">Item 1</a>
                            <ul class="menu vertical nested is-active">
                                <li>
                                    <a href="#">Item 1A</a>
                                    <ul class="menu vertical nested">
                                        <li><a href="#">Item 1Ai</a></li>
                                        <li><a href="#">Item 1Aii</a></li>
                                        <li><a href="#">Item 1Aiii</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item 1B</a></li>
                                <li><a href="#">Item 1C</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                            <ul class="menu vertical nested">
                                <li><a href="#">Item 2A</a></li>
                                <li><a href="#">Item 2B</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                    <h2 id="badge" class="docs-heading" data-magellan-target="badge">Badge<a class="docs-heading-icon" href="#badge"></a></h2>
                    <span class="secondary badge">2</span>
                    <span class="success badge">3</span>
                    <span class="alert badge">A</span>
                    <span class="warning badge">B</span>
                    <h2 id="breadcrumbs" class="docs-heading" data-magellan-target="breadcrumbs">Breadcrumbs<a class="docs-heading-icon" href="#breadcrumbs"></a></h2>
                    <nav aria-label="You are here:" role="navigation">
                        <ul class="breadcrumbs">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li class="disabled">Gene Splicing</li>
                            <li>
                                <span class="show-for-sr">Current: </span> Cloning
                            </li>
                        </ul>
                    </nav>
                    <h2 id="button" class="docs-heading" data-magellan-target="button">Button<a class="docs-heading-icon" href="#button"></a></h2>
                    <a href="about.html" class="button">Learn More</a>
                    <a href="#features" class="button">View All Features</a>
                    <button type="button" class="success button">Save</button>
                    <button type="button" class="alert button">Delete</button>
                    <a class="tiny button" href="#">So Tiny</a>
                    <a class="small button" href="#">So Small</a>
                    <a class="large button" href="#">So Large</a>
                    <a class="expanded button" href="#">Such Expand</a>
                    <div class="button-group">
                        <a class="button">One</a>
                        <a class="button">Two</a>
                        <a class="button">Three</a>
                    </div>
                    <h2 id="callout" class="docs-heading" data-magellan-target="callout">Callout<a class="docs-heading-icon" href="#callout"></a></h2>
                    <div class="callout">
                        <h5>This is a callout.</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <a href="#">It's dangerous to go alone, take this.</a>
                    </div>
                    <div class="callout secondary">
                        <h5>This is a secondary callout</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <a href="#">It's dangerous to go alone, take this.</a>
                    </div>
                    <div class="callout success">
                        <h5>This is a success callout</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <a href="#">It's dangerous to go alone, take this.</a>
                    </div>
                    <div class="callout warning">
                        <h5>This is a warning callout</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <a href="#">It's dangerous to go alone, take this.</a>
                    </div>
                    <div class="callout alert">
                        <h5>This is an alert callout</h5>
                        <p>It has an easy to override visual style, and is appropriately subdued.</p>
                        <a href="#">It's dangerous to go alone, take this.</a>
                    </div>
                    <h2 id="close-button" class="docs-heading" data-magellan-target="close-button">Close Button<a class="docs-heading-icon" href="#close-button"></a></h2>
                    <div class="callout">
                        <button class="close-button" aria-label="Close alert" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <p>This is a static close button example.</p>
                    </div>
                    <h2 id="drilldown-menu" class="docs-heading" data-magellan-target="drilldown-menu">Drilldown Menu<a class="docs-heading-icon" href="#drilldown-menu"></a></h2>
                    <ul class="vertical menu" data-drilldown style="width: 200px" id="m1">
                        <li>
                            <a href="#">Item 1</a>
                            <ul class="vertical menu" id="m2">
                                <li>
                                    <a href="#">Item 1A</a>
                                    <ul class="vertical menu" id="m3">
                                        <li><a href="#">Item 1Aa</a></li>
                                        <li><a href="#">Item 1Ba</a></li>
                                        <li><a href="#">Item 1Ca</a></li>
                                        <li><a href="#">Item 1Da</a></li>
                                        <li><a href="#">Item 1Ea</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Item 1B</a></li>
                                <li><a href="#">Item 1C</a></li>
                                <li><a href="#">Item 1D</a></li>
                                <li><a href="#">Item 1E</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                            <ul class="vertical menu">
                                <li><a href="#">Item 2A</a></li>
                                <li><a href="#">Item 2B</a></li>
                                <li><a href="#">Item 2C</a></li>
                                <li><a href="#">Item 2D</a></li>
                                <li><a href="#">Item 2E</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                            <ul class="vertical menu">
                                <li><a href="#">Item 3A</a></li>
                                <li><a href="#">Item 3B</a></li>
                                <li><a href="#">Item 3C</a></li>
                                <li><a href="#">Item 3D</a></li>
                                <li><a href="#">Item 3E</a></li>
                            </ul>
                        </li>
                        <li><a href='#'> Item 4</a></li>
                    </ul>
                    <h2 id="dropdown-menu" class="docs-heading" data-magellan-target="dropdown-menu">Dropdown Menu<a class="docs-heading-icon" href="#dropdown-menu"></a></h2>
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li>
                            <a>Item 1</a>
                            <ul class="menu">
                                <li><a href="#">Item 1A Loooong</a></li>
                                <li>
                                    <a href='#'> Item 1 sub</a>
                                    <ul class='menu'>
                                        <li><a href='#'>Item 1 subA</a></li>
                                        <li><a href='#'>Item 1 subB</a></li>
                                        <li>
                                            <a href='#'> Item 1 sub</a>
                                            <ul class='menu'>
                                                <li><a href='#'>Item 1 subA</a></li>
                                                <li><a href='#'>Item 1 subB</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href='#'> Item 1 sub</a>
                                            <ul class='menu'>
                                                <li><a href='#'>Item 1 subA</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Item 1B</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                            <ul class="menu">
                                <li><a href="#">Item 2A</a></li>
                                <li><a href="#">Item 2B</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Item 3</a></li>
                        <li><a href='#'>Item 4</a></li>
                    </ul>
                    <h2 id="dropdown-pane" class="docs-heading" data-magellan-target="dropdown-pane">Dropdown Pane<a class="docs-heading-icon" href="#dropdown-pane"></a></h2>
                    <button class="button" type="button" data-toggle="example-dropdown">Toggle Dropdown</button>
                    <div class="dropdown-pane" id="example-dropdown" data-dropdown>
                        Just some junk that needs to be said. Or not. Your choice.
                    </div>
                    <h2 id="equalizer" class="docs-heading" data-magellan-target="equalizer">Equalizer<a class="docs-heading-icon" href="#equalizer"></a></h2>
                    <div class="row" data-equalizer id="test-eq">
                        <div class="medium-4 columns">
                            <div class="callout" data-equalizer-watch>
                                <img src= "assets/images/sample-images/generic/square-1.jpg">
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="callout" data-equalizer-watch>
                                <p>Pellentesque habitant morbi tristique senectus et netus et, ante.</p>
                            </div>
                        </div>
                        <div class="medium-4 columns">
                            <div class="callout" data-equalizer-watch>
                                <img src= "assets/images/sample-images/generic/rectangle-1.jpg">
                            </div>
                        </div>
                    </div>
                    <h2 id="flex-grid" class="docs-heading" data-magellan-target="flex-grid">Flex Grid<a class="docs-heading-icon" href="#flex-grid"></a></h2>
                    <div class="row display">
                        <div class="small-6 columns">6 columns</div>
                        <div class="small-6 columns">6 columns</div>
                    </div>
                    <div class="row display">
                        <div class="medium-6 large-4 columns">12/6/4 columns</div>
                        <div class="medium-6 large-8 columns">12/6/8 columns</div>
                    </div>
                    <h2 id="flex-video" class="docs-heading" data-magellan-target="flex-video">Flex Video<a class="docs-heading-icon" href="#flex-video"></a></h2>
                    <div class="flex-video">
                        <iframe width="420" height="315" src="https://www.youtube.com/embed/V9gkYw35Vws" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <h2 id="float-classes" class="docs-heading" data-magellan-target="float-classes">Float Classes<a class="docs-heading-icon" href="#float-classes"></a></h2>
                    <div class="callout clearfix">
                        <a class="button float-left">Left</a>
                        <a class="button float-right">Right</a>
                    </div>
                    <h2 id="forms" class="docs-heading" data-magellan-target="forms">Forms<a class="docs-heading-icon" href="#forms"></a></h2>
                    <form>
                        <label>Input Label
                            <input type="text" placeholder=".small-12.columns" aria-describedby="exampleHelpText">
                        </label>
                        <p class="help-text" id="exampleHelpText">Here's how you use this input field!</p>
                        <label>
                            How many puppies?
                            <input type="number" value="100">
                        </label>
                        <label>
                            What books did you read over summer break?
                            <textarea placeholder="None"></textarea>
                        </label>
                        <label>Select Menu
                            <select>
                                <option value="husker">Husker</option>
                                <option value="starbuck">Starbuck</option>
                                <option value="hotdog">Hot Dog</option>
                                <option value="apollo">Apollo</option>
                            </select>
                        </label>
                        <div class="row">
                            <fieldset class="large-6 columns">
                                <legend>Choose Your Favorite</legend>
                                <input type="radio" name="pokemon" value="Red" id="pokemonRed" required><label for="pokemonRed">Red</label>
                                <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
                                <input type="radio" name="pokemon" value="Yellow" id="pokemonYellow"><label for="pokemonYellow">Yellow</label>
                            </fieldset>
                            <fieldset class="large-6 columns">
                                <legend>Check these out</legend>
                                <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                                <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                                <input id="checkbox3" type="checkbox"><label for="checkbox3">Checkbox 3</label>
                            </fieldset>
                        </div>
                        <div class="row">
                            <div class="small-3 columns">
                                <label for="middle-label" class="text-right middle">Label</label>
                            </div>
                            <div class="small-9 columns">
                                <input type="text" id="middle-label" placeholder="Right- and middle-aligned text input">
                            </div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-label">$</span>
                            <input class="input-group-field" type="url">
                            <a class="input-group-button button">Submit</a>
                        </div>
                    </form>
                    <h2 id="grid" class="docs-heading" data-magellan-target="grid">Grid<a class="docs-heading-icon" href="#grid"></a></h2>
                    <div class="row display">
                        <div class="small-2 medium-3 large-4 columns">2/3/4 columns</div>
                        <div class="small-4 medium-3 large-4 columns">4/3/4 columns</div>
                        <div class="small-6 large-4 columns">6/6/4 columns</div>
                    </div>
                    <div class="row display">
                        <div class="large-3 columns">12/12/3 columns</div>
                        <div class="large-6 columns">12/12/6 columns</div>
                        <div class="large-3 columns">12/12/3 columns</div>
                    </div>
                    <div class="row display">
                        <div class="small-6 large-2 columns">6/6/2 columns</div>
                        <div class="small-6 large-8 columns">6/6/8 columns</div>
                        <div class="small-12 large-2 columns">12/12/2 columns</div>
                    </div>
                    <div class="row display">
                        <div class="small-3 columns">3 columns</div>
                        <div class="small-9 columns">9 columns</div>
                    </div>
                    <div class="row display">
                        <div class="medium-8 large-4 columns">12/8/4 columns</div>
                        <div class="medium-4 large-8 columns">12/4/8 columns</div>
                    </div>
                    <h2 id="interchange" class="docs-heading" data-magellan-target="interchange">Interchange<a class="docs-heading-icon" href="#interchange"></a></h2>
                    <img data-interchange="[assets/images/sample-images/small.jpg, small], [assets/images/sample-images/medium.jpg, medium], [assets/images/sample-images/large.jpg, large]" class="interchange" />
                    <h2 id="label" class="docs-heading" data-magellan-target="label">Label<a class="docs-heading-icon" href="#label"></a></h2>
                    <span class="secondary label">Secondary Label</span>
                    <span class="success label">Success Label</span>
                    <span class="alert label">Alert Label</span>
                    <span class="warning label">Warning Label</span>
                    <h2 id="magellan" class="docs-heading" data-magellan-target="magellan">Magellan<a class="docs-heading-icon" href="#magellan"></a></h2>
                    <ul class="horizontal menu" data-magellan>
                        <li><a href="#first">First Arrival</a></li>
                        <li><a href="#second">Second Arrival</a></li>
                        <li><a href="#third">Third Arrival</a></li>
                    </ul>
                    <h2 id="media-object" class="docs-heading" data-magellan-target="media-object">Media Object<a class="docs-heading-icon" href="#media-object"></a></h2>
                    <div class="media-object">
                        <div class="media-object-section">
                            <img src= "http://placeimg.com/200/200/people">
                        </div>
                        <div class="media-object-section">
                            <h4>Dreams feel real while we're in them.</h4>
                            <p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
                        </div>
                    </div>
                    <h2 id="menu" class="docs-heading" data-magellan-target="menu">Menu<a class="docs-heading-icon" href="#menu"></a></h2>
                    <ul class="menu">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                        <li><a href="#">Four</a></li>
                    </ul>
                    <ul class="menu icon-top">
                        <li><a href="#"><i class="fi-list"></i> <span>One</span></a></li>
                        <li><a href="#"><i class="fi-list"></i> <span>Two</span></a></li>
                        <li><a href="#"><i class="fi-list"></i> <span>Three</span></a></li>
                        <li><a href="#"><i class="fi-list"></i> <span>Four</span></a></li>
                    </ul>
                    <h2 id="off-canvas" class="docs-heading" data-magellan-target="off-canvas">Off-canvas<a class="docs-heading-icon" href="#off-canvas"></a></h2>
                    <button type="button" class="button" data-toggle="offCanvasLeft">Open Menu</button>
                    <h2 id="orbit" class="docs-heading" data-magellan-target="orbit">Orbit<a class="docs-heading-icon" href="#orbit"></a></h2>
                    <div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                        <ul class="orbit-container">
                            <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
                            <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
                            <li class="is-active orbit-slide">
                                <span class="orbit-caption">Space, the final frontier.</span>
                                <img class="orbit-image" src="assets/images/sample-images/thumbnail/01.jpg" alt="Space">
                            </li>
                            <li class="orbit-slide">
                                <span class="orbit-caption">Lets Rocket!</span>
                                <img class="orbit-image" src="assets/images/sample-images/thumbnail/02.jpg" alt="Rocket">
                            </li>
                            <li class="orbit-slide">
                                <span class="orbit-caption">Encapsulating</span>
                                <img class="orbit-image" src="assets/images/sample-images/thumbnail/03.jpg" alt="Encapsulating">
                            </li>
                            <li class="orbit-slide">
                                <span class="orbit-caption">Outta This World</span>
                                <img class="orbit-image" src="assets/images/sample-images/thumbnail/04.jpg" alt="Outta This World">
                            </li>
                        </ul>
                        <nav class="orbit-bullets">
                            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
                            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
                            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
                            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
                        </nav>
                    </div>
                    <h2 id="pagination" class="docs-heading" data-magellan-target="pagination">Pagination<a class="docs-heading-icon" href="#pagination"></a></h2>
                    <ul class="pagination" role="navigation" aria-label="Pagination">
                        <li class="disabled">Previous <span class="show-for-sr">page</span></li>
                        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
                        <li><a href="#" aria-label="Page 2">2</a></li>
                        <li><a href="#" aria-label="Page 3">3</a></li>
                        <li><a href="#" aria-label="Page 4">4</a></li>
                        <li class="ellipsis" aria-hidden="true"></li>
                        <li><a href="#" aria-label="Page 12">12</a></li>
                        <li><a href="#" aria-label="Page 13">13</a></li>
                        <li><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
                    </ul>
                    <h2 id="progress-bar" class="docs-heading" data-magellan-target="progress-bar">Progress Bar<a class="docs-heading-icon" href="#progress-bar"></a></h2>
                    <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="25" aria-valuemin="0" aria-valuetext="25 percent" aria-valuemax="100">
                        <div class="progress-meter" style="width: 25%">
                            <p class="progress-meter-text">25%</p>
                        </div>
                    </div>
                    <div class="warning progress">
                        <div class="progress-meter" style="width: 50%">
                            <p class="progress-meter-text">50%</p>
                        </div>
                    </div>
                    <div class="alert progress">
                        <div class="progress-meter" style="width: 75%">
                            <p class="progress-meter-text">75%</p>
                        </div>
                    </div>
                    <h2 id="responsive-menu" class="docs-heading" data-magellan-target="responsive-menu">Responsive Menu<a class="docs-heading-icon" href="#responsive-menu"></a></h2>
                    <ul class="vertical medium-horizontal menu">
                        <li><a href="#">Item 1</a></li>
                        <li><a href="#">Item 2</a></li>
                        <li><a href="#">Item 3</a></li>
                    </ul>
                    <h2 id="responsive-toggle" class="docs-heading" data-magellan-target="responsive-toggle">Responsive Toggle<a class="docs-heading-icon" href="#responsive-toggle"></a></h2>
                    <div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
                        <button class="menu-icon" type="button" data-toggle></button>
                        <div class="title-bar-title">Menu</div>
                    </div>
                    <div class="top-bar" id="example-menu">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="menu-text">Site Title</li>
                                <li class="has-submenu">
                                    <a href="#">One</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#">One</a></li>
                                        <li><a href="#">Two</a></li>
                                        <li><a href="#">Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Two</a></li>
                                <li><a href="#">Three</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li><input type="search" placeholder="Search"></li>
                                <li><button type="button" class="button">Search</button></li>
                            </ul>
                        </div>
                    </div>
                    <h2 id="reveal" class="docs-heading" data-magellan-target="reveal">Reveal<a class="docs-heading-icon" href="#reveal"></a></h2>
                    <p><a data-open="exampleModal1">Click me for a modal</a></p>
                    <div class="reveal" id="exampleModal1" data-reveal>
                        <h1>Awesome. I Have It.</h1>
                        <p class="lead">Your couch. It is mine.</p>
                        <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
                        <button class="close-button" data-close aria-label="Close reveal" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <h2 id="slider" class="docs-heading" data-magellan-target="slider">Slider<a class="docs-heading-icon" href="#slider"></a></h2>
                    <div class="slider" data-slider data-initial-start='50' data-end='200'>
                        <span class="slider-handle"  data-slider-handle role="slider" tabindex="1"></span>
                        <span class="slider-fill" data-slider-fill></span>
                        <input type="hidden">
                    </div>
                    <h2 id="sticky" class="docs-heading" data-magellan-target="sticky">Sticky<a class="docs-heading-icon" href="#sticky"></a></h2>
                    <div class="row">
                        <div class="columns small-12">
                            <div class="columns small-6" id="example1" data-something>
                                <p id="doodle">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                                </p>
                            </div>
                            <div class="columns small-6 right" data-sticky-container>
                                <div class="sticky" data-sticky data-anchor="example1">
                                    <img class="thumbnail" src="assets/images/sample-images/generic/rectangle-3.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h2 id="switch" class="docs-heading" data-magellan-target="switch">Switch<a class="docs-heading-icon" href="#switch"></a></h2>
                    <div class="switch tiny">
                        <input class="switch-input" id="tinySwitch" type="checkbox" name="exampleSwitch">
                        <label class="switch-paddle" for="tinySwitch">
                            <span class="show-for-sr">Tiny Sandwiches Enabled</span>
                        </label>
                    </div>
                    <div class="switch small">
                        <input class="switch-input" id="smallSwitch" type="checkbox" name="exampleSwitch">
                        <label class="switch-paddle" for="smallSwitch">
                            <span class="show-for-sr">Small Portions Only</span>
                        </label>
                    </div>
                    <div class="switch large">
                        <input class="switch-input" id="largeSwitch" type="checkbox" name="exampleSwitch">
                        <label class="switch-paddle" for="largeSwitch">
                            <span class="show-for-sr">Show Large Elephants</span>
                        </label>
                    </div>
                    <h2 id="table" class="docs-heading" data-magellan-target="table">Table<a class="docs-heading-icon" href="#table"></a></h2>
                    <table>
                        <thead>
                        <tr>
                            <th width="200">Table Header</th>
                            <th>Table Header</th>
                            <th width="150">Table Header</th>
                            <th width="150">Table Header</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        <tr>
                            <td>Content Goes Here</td>
                            <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
                            <td>Content Goes Here</td>
                            <td>Content Goes Here</td>
                        </tr>
                        </tbody>
                    </table>
                    <h2 id="tabs" class="docs-heading" data-magellan-target="tabs">Tabs<a class="docs-heading-icon" href="#tabs"></a></h2>
                    <ul class="tabs" data-tabs id="example-tabs">
                        <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Tab 1</a></li>
                        <li class="tabs-title"><a href="#panel2">Tab 2</a></li>
                        <li class="tabs-title"><a href="#panel3">Tab 3</a></li>
                        <li class="tabs-title"><a href="#panel4">Tab 4</a></li>
                        <li class="tabs-title"><a href="#panel5">Tab 5</a></li>
                        <li class="tabs-title"><a href="#panel6">Tab 6</a></li>
                    </ul>
                    <div class="tabs-content" data-tabs-content="example-tabs">
                        <div class="tabs-panel is-active" id="panel1">
                            <p>one</p>
                            <p>Check me out! I'm a super cool Tab panel with text content!</p>
                        </div>
                        <div class="tabs-panel" id="panel2">
                            <p>two</p>
                            <img class="thumbnail" src="assets/images/sample-images/generic/rectangle-7.jpg">
                        </div>
                        <div class="tabs-panel" id="panel3">
                            <p>three</p>
                            <p>Check me out! I'm a super cool Tab panel with text content!</p>
                        </div>
                        <div class="tabs-panel" id="panel4">
                            <p>four</p>
                            <img class="thumbnail" src="assets/images/sample-images/generic/rectangle-2.jpg">
                        </div>
                        <div class="tabs-panel" id="panel5">
                            <p>five</p>
                            <p>Check me out! I'm a super cool Tab panel with text content!</p>
                        </div>
                        <div class="tabs-panel" id="panel6">
                            <p>six</p>
                            <img class="thumbnail" src="assets/images/sample-images/generic/rectangle-8.jpg">
                        </div>
                    </div>
                    <h2 id="thumbnail" class="docs-heading" data-magellan-target="thumbnail">Thumbnail<a class="docs-heading-icon" href="#thumbnail"></a></h2>
                    <div class="row">
                        <div class="small-4 columns">
                            <img class="thumbnail" src="assets/images/sample-images/thumbnail/01.jpg" alt="Photo of Uranus.">
                        </div>
                        <div class="small-4 columns">
                            <img class="thumbnail" src="assets/images/sample-images/thumbnail/02.jpg" alt="Photo of Neptune.">
                        </div>
                        <div class="small-4 columns">
                            <img class="thumbnail" src="assets/images/sample-images/thumbnail/03.jpg" alt="Photo of Pluto.">
                        </div>
                    </div>
                    <h2 id="title-bar" class="docs-heading" data-magellan-target="title-bar">Title Bar<a class="docs-heading-icon" href="#title-bar"></a></h2>
                    <div class="title-bar">
                        <div class="title-bar-left">
                            <button class="menu-icon" type="button"></button>
                            <span class="title-bar-title">Foundation</span>
                        </div>
                        <div class="title-bar-right">
                            <button class="menu-icon" type="button"></button>
                        </div>
                    </div>
                    <h2 id="toggler" class="docs-heading" data-magellan-target="toggler">Toggler<a class="docs-heading-icon" href="#toggler"></a></h2>
                    <p><a data-toggle="menuBar">Expand!</a></p>
                    <ul class="menu" id="menuBar" data-toggler=".expanded">
                        <li><a href="#">One</a></li>
                        <li><a href="#">Two</a></li>
                        <li><a href="#">Three</a></li>
                        <li><a href="#">Four</a></li>
                    </ul>
                    <h2 id="tooltip" class="docs-heading" data-magellan-target="tooltip">Tooltip<a class="docs-heading-icon" href="#tooltip"></a></h2>
                    <p>The <span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover='false' tabindex=1 title="Fancy word for a beetle.">scarabaeus</span> hung quite clear of any branches, and, if allowed to fall, would have fallen at our feet. Legrand immediately took the scythe, and cleared with it a circular space, three or four yards in diameter, just beneath the insect, and, having accomplished this, ordered Jupiter to let go the string and come down from the tree.</p>
                    <h2 id="top-bar" class="docs-heading" data-magellan-target="top-bar">Top Bar<a class="docs-heading-icon" href="#top-bar"></a></h2>
                    <div class="top-bar">
                        <div class="top-bar-left">
                            <ul class="dropdown menu" data-dropdown-menu>
                                <li class="menu-text">Site Title</li>
                                <li class="has-submenu">
                                    <a href="#">One</a>
                                    <ul class="submenu menu vertical" data-submenu>
                                        <li><a href="#">One</a></li>
                                        <li><a href="#">Two</a></li>
                                        <li><a href="#">Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Two</a></li>
                                <li><a href="#">Three</a></li>
                            </ul>
                        </div>
                        <div class="top-bar-right">
                            <ul class="menu">
                                <li><input type="search" placeholder="Search"></li>
                                <li><button type="button" class="button">Search</button></li>
                            </ul>
                        </div>
                    </div>
                    <h2 id="visibility-classes" class="docs-heading" data-magellan-target="visibility-classes">Visibility Classes<a class="docs-heading-icon" href="#visibility-classes"></a></h2>
                    <p>You are on a small screen or larger.</p>
                    <p class="show-for-medium">You are on a medium screen or larger.</p>
                    <p class="show-for-large">You are on a large screen or larger.</p>
                    <p class="show-for-small-only">You are <em>definitely</em> on a small screen.</p>
                    <p class="show-for-medium-only">You are <em>definitely</em> on a medium screen.</p>
                    <p class="show-for-large-only">You are <em>definitely</em> on a large screen.</p>
                    <p class="hide-for-medium">You are <em>not</em> on a medium screen or larger.</p>
                    <p class="hide-for-large">You are <em>not</em> on a large screen or larger.</p>
                    <p class="hide-for-small-only">You are <em>definitely not</em> on a small screen.</p>
                    <p class="hide-for-medium-only">You are <em>definitely not</em> on a medium screen.</p>
                    <p class="hide-for-large-only">You are <em>definitely not</em> on a large screen.</p>
                    <p class="hide">Can't touch this.</p>
                    <p class="invisible">Can sort of touch this.</p>
                    <p class="show-for-landscape">You are in landscape orientation.</p>
                    <p class="show-for-portrait">You are in portrait orientation.</p>
                    <p class="show-for-sr">This text can only be read by a screen reader.</p>
                    <p>There's a line of text above this one, you just can't see it.</p>
                    <p aria-hidden="true">This text can be seen, but won't be read by a screen reader.</p>
                    <p><a class="show-on-focus" href="#mainContent">Skip to Content</a></p>
                    <header id="header" role="banner">
                    </header>
                    <main id="mainContent" role="main" tabindex="0">
                    </main>
                </div>
            </div>
        </div>
    </div>
</div>
