<div class="congratulations-it-works">
    <div class="title-bar">
        <div class="row text-center">
            <div class="small-12 columns">
                <h2>Congratulations it works!</h2>
            </div>
            <div class="small-12 columns">
                <div class="sprite-works-on-my-machine"></div>
            </div>
            <div class="small-12 columns">
                <h6>Ok, now where do we go from here?</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns">
            <div class="title-important alert label bold"><object type="image/svg+xml" data="../../assets/images/sample-images/warning.svg" class="svg svg-warning float-left"></object> Hey you, do not forget.</div>
            <div class="alert callout">
                <p>This is important, please do not overlook the steps below. All developers should follow these configuration steps below to ensure your project has been prepared for development.</p>
            </div>
            <div class="title-config info label bold"><object type="image/svg+xml" data="../../assets/images/sample-images/config.svg" class="svg svg-config float-left"></object> Project Configuration Steps: Read Me</div>
            <ul class="tabs" data-tabs id="steps">
                <li class="tabs-title is-active">
                    <a href="#panel1" aria-selected="true">Step 1</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel2">Step 2</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel3">Step 3</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel4">Step 4</a>
                </li>
                <li class="tabs-title">
                    <a href="#panel5">Step 5</a>
                </li>
            </ul>
            <div class="tabs-content" data-tabs-content="steps">
                <div class="tabs-panel is-active" id="panel1">
                    <h5>Step 1 - Verify all of Foundation's components are working as expected</h5>
                    <p>Are all the components in the <a href="#kitchenSink">the kitchen sink</a> working as expected without any console errors? If so, it is safe to say everything is configured correctly on your local instance of the boilerplate.
                    </p>
                    <div class="title-important warning label bold">
                        <object type="image/svg+xml" data="../../assets/images/sample-images/that-guy.svg" class="svg svg-that-guy float-left"></object> Heads up!
                    </div>
                    <h5>Foundation 6 has changed how it's JS is initialized!</h5>
                    <p>Be sure you are aware of the new init functions in Foundation 6. <a href="http://foundation.zurb.com/sites/docs/javascript.html" target="_blank">Here is the documentation</a>. Note, you can not programmatically create an instance of the interchange component it will silently fail and cause some of the other components to fail as well.</p>
                </div>
                <div class="tabs-panel" id="panel2">
                    <h5>Step 2 - Gather the assets...</h5>
                    <p>All of your project assets/files such as (fonts, branding, logos) should be collected and added to the project ideally before any real development takes place. All project assets/files should reside in the assets directory.</p>
                    <div class="code-reference tree">
                        <pre>
project-root/
└── app/
    └── assets/
        ├── data/
        ├── fonts/
        ├── images/
        └── libs/
                        </pre>
                    </div>
                </div>
                <div class="tabs-panel" id="panel3">
                    <h5>Step 3 - Set the styles...</h5>
                    <p>All you projects base settings (such text size, link color, background color, font families... and so on) should be configured via Foundation's _settings.scss file which resides in the styles/base directory.</p>
                    <div class="code-reference tree">
                        <pre>
project-root/
└── app/
    ├── assets/
    ├── scripts/
    └── styles/
        └── base/
                        </pre>
                    </div>
                </div>
                <div class="tabs-panel" id="panel4">
                    <h5>Step 4 - Add the modules...</h5>
                    <p>Add your directories and JavaScript files for each module. Every module which should reside in the scripts/modules directory.</p>
                    <div class="code-reference tree">
                        <pre>
project-root/
└── app/
    ├── assets/
    └── scripts/
        ├── common/
        └── modules/
            ├── collections/
            ├── models/
            ├── templates/
            └── views/
                        </pre>
                    </div>
                </div>
                <div class="tabs-panel" id="panel5">
                    <h5>Step 5 - Clean up the project...</h5>
                    <p>The last step is to delete any coded references and files that will not be shipped to production such the kitchen sink and so on. Here is a list of what should be removed.</p>
                    <h5 class="bold">Code references:</h5>
                    <ul class="list">
                        <li class="item">
                            <p><strong>main.js</strong> - In main.js remove the import of the kitchen sink and the reference to the module</p>
                            <div class="code-reference">
                                <div>
                                    <p>import KitchenSinkModule from 'modules/kitchen-sink/KitchenSinkModule';</p>
                                </div>
                                <div>app.kitchenSink = new KitchenSinkModule({<br/>&nbsp;&nbsp;&nbsp; container: app.layout.mainContent<br/>});</div>
                            </div>
                        </li>
                        <li class="item">
                            <p><strong>main.scss</strong> - In main.scss remove the @import reference to the kitchen sink view's scss file</p>
                            <div class="code-reference">@import "views/kitchen-sink";</div>
                        </li>
                        <li class="item">
                            <p><strong>index.scss</strong> - In index.scss remove of the congratulations-it-works SASS which provides the styles this page, make sure you leave file because you will need it later</p>
                            <div class="code-reference">.congratulations-it-works {<br/>&nbsp;&nbsp;&nbsp; ...<br/>}</div>
                        </li>
                        <li class="item">
                            <p><strong>IndexLayoutView.js</strong> - In the IndexLayoutView.js view replace the all of this HTML with your project's HTML</p>
                        </li>
                    </ul>
                    <h5 class="bold">Files and directories:</h5>
                    <ul class="list">
                        <li class="item">
                            <p><strong>sample-images directory</strong> - Delete the sample-images directory located in project-root/app/assets/images/sample-images/</p>
                        </li>
                        <li class="item">
                            <p><strong>kitchen-sink directory</strong> - Delete the kitchen sink directory located in project-root/app/scripts/modules/kitchen-sink/</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
