////
/// ----------------------------------------------------------------------------------------
/// Header styles
/// ----------------------------------------------------------------------------------------
/// @description - Header layout and styling
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small) {
    .header {

    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(small only) {
    .header {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium) {
    .header {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(medium only) {
    .header {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@include breakpoint(large) {
    .header {

    }
}
/// End of Large Up
