/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/

@mixin retina-background-size($sprite) {
    $sprite-total-width: nth($sprite, 7);
    $sprite-total-height: nth($sprite, 8);
    background-size: $sprite-total-width/2 $sprite-total-height/2;
}
@mixin retina-sprite-position($sprite) {
    $sprite-offset-x: nth($sprite, 3);
    $sprite-offset-y: nth($sprite, 4);
    background-position: $sprite-offset-x/2 $sprite-offset-y/2;
}
@mixin retina-sprite($retina-group) {
    $normal-sprite: nth($retina-group, 2);
    $retina-sprite: nth($retina-group, 3);
    @include sprite($normal-sprite);
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        @include sprite-image($retina-sprite);
        @include retina-background-size($retina-sprite);
        @include retina-sprite-position($retina-sprite)
    }
}

@mixin sprites($sprites) {
    @each $sprite in $sprites {
        $sprite-name: nth($sprite, 10);
        .sprite-#{$sprite-name} {
            @include sprite($sprite);
        }
    }
}
@mixin retina-sprites($retina-groups) {
    @each $retina-group in $retina-groups{
        $sprite-name: nth($retina-group, 1);
        .sprite-#{$sprite-name} {
            @include retina-sprite($retina-group);
        }
    }
}
@include sprites($spritesheet-sprites);
@include retina-sprites($retina-groups);
